<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h1>Personal data:</h1>

            <p><div style="font-size: large">Your email is => [ {{this.user.email}} ]</div></p>
            <div style="font-size: large">Your name is => [{{this.user.fullName}}]</div>

            <footer>
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                </div>
            </footer>

        </div>
    </div>
</div>
